<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hmmm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="manifest" href="/manifest.json">
  <style>
    * {
      font-family: Arial, Helvetica, sans-serif;
    }
    body {
      padding: 0;
      margin: 0;
      background-color: #fffce7;
      width: 100vw;
      height: 100vh;
    }
    div.projectCard {
      background-color: #e9f8f9;
      color: #646369;
      font-weight: bold;
      margin: 10px;
      padding: 13px;
      border-radius: 5px;
      box-shadow: 3px 3px 1px #888888;
    }
    div.projectCard span.projectTitle {
      font-size: smaller;
      color: #74737a;
    }
    div.projectCard button.markCheckitemDoneButton {
      float: right;
    }
    span.smallTag {
      white-space: nowrap;
      vertical-align: middle;
      background-color: #ededed;
      color: #7d7c83;
      font-weight: bolder;
      border-radius: 4px;
      padding: 3px;
      font-size: x-small;
      margin: 4px;
      box-shadow: 1px 1px 1px #888888;
    }
    div.progress {
      background-color: #ededed;
      height: 6px;
    }
    div.progress div[role=progressbar] {
      height: 6px;
      background-color: #b2dfeb;
    }
    button {
      border-radius: 4px;
      border: 0px;
      color: #646369;
      box-shadow: 1px 1px 1px #888888;
      margin: 2px;
    }
    /*#f1faee*/
    /*e63946*/
    /*1d3557*/
    /*457b9d*/
  </style>
  <script src="elm.js"></script>
</head>
<body>
  <script>
    const tokenStorageKey = 'token';
    const token = localStorage.getItem(tokenStorageKey);
    console.log(token ? "Token loaded from storage." : "No token found in storage.");
    const app = Elm.Main.init({
      flags: {
        apiKey: {{API_KEY}},
        token: token,
        boardId: {{BOARD_ID}},
        loginRedirect: {{LOGIN_REDIRECT}}
      }
    });
    app.ports.storeToken.subscribe(token => {
      localStorage.setItem(tokenStorageKey, token);
      console.log("Stored token.");
    });
  </script>
</body>
</html>
